@font-face {
  font-family: "DINPro";
  src: url("DINPro.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "MyriadPro";
  src: url("MyriadPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy/Gilroy-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
