.slide_second {
  background-image: url("../../images/bg-2.png");
}

.slide__container_second {
  gap: unset;
  margin-top: 90px;
  position: relative;
}

.scroll {
  position: relative;
  z-index: 1;
  margin-top: 100px;
  width: 1550px;
  height: 890px;
  border-radius: 80px;
  padding: 50px 150px 30px 65px;
  background: #fff;
  box-sizing: border-box;
  direction: rtl;
  margin-left: 105px;
  box-shadow: 5.446px 8.387px 232.5px 17.5px rgba(157, 185, 198, 0.39);
}

.scroll::before {
  display: block;
  content: "";
  width: 10px;
  height: 790px;
  background-color: black;
  border-radius: 20px;
  position: absolute;
  top: 63px;
  left: -76px;
  z-index: -1;
}

.scroll::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 65px;
  width: 85%;
  height: 40%;
  background: linear-gradient(transparent, white);
  pointer-events: none;
}

.text__container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: content-box;
  padding-left: 156px;
}

.text {
  position: relative;
  margin: 0;
  margin-left: -40px;
  font-weight: normal;
  text-align: left;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 2px;
}

.text__container::-webkit-scrollbar {
  width: 40px;
}

.text__container::-webkit-scrollbar-thumb {
  height: 210px;
  background-color: rgb(241, 116, 173);
  box-shadow: inset -18px -20px 20px 0 #cf578d;
  border-radius: 20px;
  margin-bottom: 100px;
}

.sperm_hidden {
  opacity: 0;
}

.sperm_one,
.sperm_two {
  top: 13%;
  right: 0;
  animation: ani 2.5s forwards;
}

.sperm_three {
  top: 10%;
  right: 0;
  animation: ani 4s forwards;
}

.sperm_four {
  top: 54%;
  right: 0;
  animation: ani 4.5s forwards;
}

.sperm_five {
  top: 67%;
  right: 0;
  animation: ani 4s forwards;
}

@keyframes ani {
  from {
    opacity: 0;
    transform: translate(100px, 100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
