.slide_second {
  background-image: url("../../images/bg-2.png");
}

.slide__container_second {
  gap: unset;
  margin-top: 90px;
}

.slide__title {
  margin: 0;
  font-weight: 400;
  font-size: 54px;
}

.scroll {
  position: relative;
  z-index: 1;
  margin-top: 90px;
}

.text__container {
  height: 890px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  direction: rtl;
  border-radius: 80px;
  padding-left: 65px;
  box-shadow: 5.446px 8.387px 232.5px 17.5px rgba(157, 185, 198, 0.39);
}

.text {
  scroll-snap-align: start;
  width: 1550px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 80px;
  padding: 50px 150px 30px 65px;
  background: #fff;
  font-weight: normal;
  text-align: left;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 2px;
}

.test2 {
  width: 10px;
  height: 870px;
  background-color: black;
  border-radius: 20px;
  position: absolute;
  top: 7px;
  left: 14px;
  z-index: -1;
}

.text__container::-webkit-scrollbar {
  width: 40px;
}

.text__container::-webkit-scrollbar-thumb {
  height: 210px;
  background-color: #cf578d;
  border-radius: 20px;
}

.text:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 170px;
  width: 80%;
  height: 40%;
  background: linear-gradient(transparent, white);
  pointer-events: none;
}

.sperm_one,
.sperm_two {
  top: 13%;
  right: 0;
  animation: ani 2.5s forwards;
}

.sperm_three {
  top: 10%;
  right: 0;
  animation: ani 4s forwards;
}

.sperm_four {
  top: 54%;
  right: 0;
  animation: ani 4.5s forwards;
}

.sperm_five {
  top: 67%;
  right: 0;
  animation: ani 4s forwards;
}

@keyframes ani {
  from {
    opacity: 0;
    transform: translate(100px, 100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
